/* ----------- */
/* RESET  */
/* ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- */
/* DEBUG */
/* ---------- */
.debug header{

    background-color:#add8e6 ;
}

.debug .header-lml{
    height: 47px ;
    background-color:#daa520;
    width: 1200px ;

}

.debug .box{
    border: 2px solid black;
    border-style: dashed;
}

.debug .header-lml .login{
    flex-grow: 1;
}

.debug .header-lml .menu{
    flex-grow: 3;
}

.debug .header-lml .logo{
    flex-grow: 1;
}

.debug .presentazione{
    background-color:#00008b;
}

.debug .presentazione .content{
    background-color:#ee82ee;
    width: 910px;
    height: 400px;
    margin: 50px 0;
}

.debug .sezione1 .content{
    width: 1200px;
    height: 500px;
}

/* ---------- */
/* MAIN */
/* ---------- */
header{
    padding-top: 17px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
}

.header-lml{
    display: flex;
    justify-content: center;
}

header .presentazione{
    width: 100%;
}

header .presentazione{
    display: flex;
    justify-content: center;
    align-items: center;

}

main .sezione1{
    display: flex;
    justify-content: center;
    align-items: center;
}