/* ----------- */
/* RESET  */
/* ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- */
/* DEBUG */
/* ---------- */
.debug header{

    background-color:#add8e6 ;
}

.debug .header-lml{
    height: 47px ;
    background-color:#daa520;
    width: 1200px ;

}

.debug .box{
    border: 2px solid black;
    border-style: dashed;
}

.debug .header-lml .login{
    flex-grow: 1;
}

.debug .header-lml .menu{
    flex-grow: 3;
}

.debug .header-lml .logo{
    flex-grow: 1;
}

.debug .presentazione{
    background-color:#00008b;
}

.debug .presentazione .content{
    background-color:#ee82ee;
    width: 910px;
    height: 400px;
    margin: 50px 0;
}

.debug  .sezione1 .content{
    width: 1200px;
    height: 500px;}

.debug .sezione1 .content .content-blu{
    background-color:#1e90ff;
    width: 60%;
}

.debug .sezione1 .content .content-pink{
    background-color:#ffc0cb;
    width: 40%;
}

.debug  .sezione2 .content-green{
    width: 1200px;
    height: 900px;
    background-color:#228b22;
}

.debug .sezione3{
    
    background-color:#23272a ;
}

.debug  .sezione3 .content{
    width: 1200px;
    height: 500px;}

.debug .sezione3 .content .content-red{
    background-color:#f08080;
    flex-grow: 2;
}

.debug .sezione3 .content .content-acqua{
    background-color:#20b2aa;
    flex-grow: 1;}

.debug .fine-pagina{
    background-color:#7fffd4;
    width: 1200px ;
    height: 80px;
}

.debug footer{
    background-color:#23272a ;
}

.debug .fine-pagina div{
    background-color: #ffb6c1;
    padding: 5px 10px;
}

.debug .menu{
    text-align: center;
    line-height:45px ;
}

.debug .header-lml .logo{
    line-height: 45px;
}

.debug .login{
    text-align: end;
    line-height: 45px;
}
/* ---------- */
/* HEADER */
/* ---------- */
header{
    padding-top: 17px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
}

.header-lml{
    display: flex;
    justify-content: center;
}

header .presentazione{
    width: 100%;
}

header .presentazione{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* ---------- */
/* MAIN */
/* ---------- */

main .sezione1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

main .sezione1 .content{
    display: flex;
}

main .sezione2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

main .sezione2 .content{
    display: flex;
}

main .sezione3{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .sezione3 .content{
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}


/* ---------- */
/* FOOTER */
/* ---------- */
footer{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    border-top: 2px solid #eeeeee ;
}

.fine-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}